body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    box-sizing: border-box;
    background-color: blanchedalmond;
 }

h1{
    text-align: center;
}

.mainHeading{
    text-align: center;
}

.tasks{
    text-align: center;
}

.displayInput{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Add{
    padding: 2px 18px;
    margin: 10px;
    background-color: aqua;
    border-radius: 11%;

}

#Add:hover{
    background-color: green;
    color: white;
}

.editBtn{
    border-radius: 11%;
    margin: 8px;
    padding: 4px 18px;
    background-color: rgb(186, 186, 211);
}

.editBtn:hover{
    background-color: blue;
    color: white;
}

.delBtn{
    margin: 10px;
    padding: 4px 18px;
    background-color: rgb(186, 186, 211);
    border-radius: 11%;

}
.delBtn:hover{
    background-color: red;
    color: white;
}

input{
    margin: 10px;
    padding: 5px 20px;
    width: 40%;

}

label{
    margin: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
}

.addedTask{
    text-decoration: none;
    list-style-type: none;
    
    font-size: 22px;
}

.checkBtn{
    margin: 0 16px;
    padding: 2px 12px;
    width: 60px;
    border: none;
    
    background-color: none;
    font-size: 20px;
}
.checkBtn:hover{
    background-color: rgb(11, 255, 23);
    
}

